html {
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: radial-gradient(circle at 50% 50%, rgb(255, 255, 255, 0.1), #d7dbdf), url('../img/motor_bg_1.png');
  background-position: 0 0, center 220px;
  background-repeat: repeat, no-repeat;
  background-size: contain;
}

/*
.bg {
  background: url('../img/motor_bg.png') center bottom no-repeat;
  background-size: contain;
}
*/

.header {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0 25px;
  padding: 0 18px;
}

.logo {
  display: inline-block;
  width: 101px;
  height: 13px;
  background: url('../img/logo_tesla.svg') no-repeat 0 0;
  background-size: contain; 
  text-indent: -9999px;
}

.content {
  display: flex;
  justify-content: center;
}

.item {
  position: relative;
  background: #ffffff;
  padding-bottom: 36px;
  width: 290px;
  color: #60697d;
}

.item:not(.item-alt) {
  z-index: 1;
  right: -10px;
}

.item-header {
  background-color: #f8f9f9;
  text-align: center;
  padding: 22px 0 17px;
  margin-bottom: 25px;

}

.item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-bottom: 17px;
  font-weight: 400;
}

.item-title::after {
  content: '';
  display: inline-block;
  width: 28px;
  height: 2px;
  opacity: 0.3;
  background-color: #60697d;
  margin-top: 14px;
}

.item-photo {
  height: 53px;
}

.list {
  list-style: none;
  text-align: center;
  margin-bottom: 23px;
}

.list-item {
  margin-bottom: 13px;
  font-size: 14px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.item-footer {
  text-align: center;
}

.item-footer::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 2px;
  opacity: 0.3;
  background-color: #60697d;
  margin-bottom: 18px;
}

.item-footer-text {
  font-size: 24px;
  margin-bottom: 19px;
}

.button {
  width: 126px;
  height: 36px;
  border-radius: 18px;
  background-color: #ea525c;
  border: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.button-alt {
  background-color: #37406c;
}

.item-alt {
  left: -24px;
  top: 44px;
  color: #ffffff;
  background-color: rgb(115, 120, 125, 0.95);
}

.item-alt .item-header {
  background-color: #656a72;
}

.item-alt .item-title::after, .item-alt .item-footer::before {
  background-color: #ffffff;
}

